<footer class="container-fluid pt-3 pb-2 bg-light text-dark" id="footer">
            <div class="container">
                <div class="logininfo">
                    <span>You are loged in as.. </span>
                    <a href="#" title="view profile">Aayush Garg </a>
                    <span> (</span>
                    <a href="#" title="sign out">Log out</a>
                    <span>)</span>
                </div>
                <a href="#" title="Dashboard">Home</a>
            </div>
        </footer>