<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/profile.css">
</head>

<body>


  <div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal Info</h3>

        <form action="/users/edit-profile" method="POST" class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input required class="form-control" type="text" name="name" value=<%=name %>>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text">
            </div>
          </div> -->

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input readonly class="form-control" type="text" name="email" value=<%=email %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">ID:</label>
            <div class="col-md-8">
              <input readonly class="form-control" type="text" name="id" value=<%=id %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">PhoneNo:</label>
            <div class="col-md-8">
              <input required class="form-control" type="text" name="phone_no" value=<%=phone_no %>>
            </div>
          </div>
          <div class="form-group">
            <!-- <label class="col-md-3 control-label">Password:</label>
                  <div class="col-md-8">
                    <input class="form-control" type="password" >
                  </div> -->
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input required class="form-control" type="password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary">Save Changes</button>
              <span></span>
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
</body>