<link rel="stylesheet" href="../assets/css/FooterStu.css">
<footer class="container-fluid pt-3 pb-2 bg-dark text-light" id="footer">
    <div class="container" style="font-size: 1.5rem;">
        <div class="logininfo">
            <span>You are logged in as.. </span>
            <a href="/users/profile" title="view profile"><%= name %> </a>
            <span> (</span>
            <a href="/users/signout" title="Sign Out">Log out</a>
            <span>)</span>
        </div>
        <a href="/users/home" title="Dashboard">Home</a>
    </div>
</footer>