#page{
    margin-top: 50px;
}
.jumbotron{
    padding: 3rem 2rem;
}
#profileName{
    font-size: 4.3rem;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
}
.pr-5, .px-5 {
    padding-right: 3rem!important;
    padding-top: 4rem;
}
.thumbnail img{
    border-radius: 50%;
    height: 19rem;
    width: 17rem;
}
#head>.card{
    width: 40rem;
    height: 18rem;
}
#head>.card-body a{
    font-size: 1.5rem;
}
.card-title{
    font-weight: 400;
}


#region-main>.card{
    overflow-x: auto;
    overflow-y: visible;
    min-height: 45rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#region-main {
    float: left;
    width: 100%;
}

#region-main>.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

h5{
    font-size: 2.3rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.text-center {
    text-align: center!important;
}
.card-text:last-child {
    margin-bottom: 0;
}

.tabContainer{
    margin: auto;
    width : 85%;
    height: 90vh;
}
.tabContainer .buttonContainer{
    height: 80px;
    padding-bottom: 2px;
    /* border-bottom: 1px solid rgba(0,0,0,.35); */
}
.tabContainer .buttonContainer button{
    width: 15%;
    height: 100%;
    float: left;
    outline: none;
    border: none;
    cursor: pointer;
    margin-inline-end: 5px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 2rem;
    background-color: white;
    color: blue;
}
.tabContainer .buttonContainer button:hover{
    color: #d7d4d4;
}

.activeDefault{
    border: 1px solid rgba(0,0,0,.35);
    border-bottom: none;
}

